<!DOCTYPE html>
<html lang="id">
  <head>
    <title>BINA AKRAB TIF'19 - UNKRISWINA SUMBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url"          content="https://binaakrabtifunkriswina2k19.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:site_name" content="binaakrabtifunkriswina2k19.herokuapp.com">
    <meta property="og:title"         content="Bina Akrab TIF'19 UNKRISWINA SUMBA" />
    <meta property="og:description"   content="Dokumentasi Bina Akrab Teknik Informatika 2019 UNKRISWINA SUMBA" />
    <meta property="og:image" content="https://binaakrabtifunkriswina2k19.herokuapp.com/img/bina-akrab.jpg">
    <meta name="author" content="UNKRISWINA SUMBA INFORMERS">
    <meta property="language" content="Indonesia">
    <meta content='Galeri Bina Akrab Teknik Informatika UNKRISWINA SUMBA 2019' name='keywords'/>    
  
 

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico">   
    <link rel="stylesheet" href="/css/lightgallery.min.css">    
    
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    
    <link rel="stylesheet" href="/css/swiper.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-black h2 mb-0">BinaAkrab TIF'19 UNKRISWINA SUMBA</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li class="has-children active">
                  <a href="#">Galeri</a>
                  <ul class="dropdown">
                    <li><a href="/galeri/perwalian-pak-jefonses">Perwalian Pak Jefonses</a></li>
                    <li><a href="/galeri/perwalian-pak-pingky">Perwalian Pak Pingky</a></li>
                    <li><a href="/galeri/perwalian-pak-ian">Perwalian Pak Ian</a></li>
                    <li><a href="/galeri/perwalian-pak-fajar">Perwalian Pak Fajar</a></li>
                    <li><a href="/galeri/perwalian-pak-alan">Perwalian Pak Alan</a></li>
                    <li><a href="/galeri/perwalian-ibu-arini">Perwalian Ibu Arini</a></li>
                    <li><a href="/galeri/perwalian-ibu-yustina">Perwalian Ibu Yustina</a></li>
                    <li><a href="/galeri/perwalian-ibu-mea">Perwalian Ibu Mea</a></li>
                    <li><a href="/galeri/perwalian-ibu-desy">Perwalian Ibu Desy</a></li>
                    <li><a href="/galeri/all-game">Games</a></li>
                    <li><a href="/galeri/other-images">Lain-lain</a></li>
                  </ul>
                </li>
                <li><a href="/agenda">Agenda</a></li>
                <li><a href="/daftar-panitia">Panitia</a></li>
                <li><a href="/about">Tentang Bina Akrab TIF'19</a></li>
                <li><a href="/contact">Kontak</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/infoprom.unkriswina" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/unkriswina_sumba_timur/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCDt7aHjK2SpQT0-TDYgaemQ" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>




  <div class="site-section"  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        
        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center text-capitalize"><%= data[0].title %></h2>
            </div>
          </div>
        </div>
  
      </div>
      <div class="row" id="lightgallery">
        <% data.forEach( galeri => {%>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="<%= galeri.url %>" data-sub-html="<h4><%= galeri.imgTitle %></h4><p><%= galeri.desc %></p>">
            <a href="#"><img src="<%= galeri.url %>" alt="IMage" class="img-fluid"></a>
          </div>
        <%});%>
      </div>
    </div>
  </div>

     <div class="footer py-4 text-center">
    <div class="container-fluid">
      <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a><strong> Develop by UNKRISWINA SUMBA INFORMERS</strong>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>


    

    
    
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/picturefill.min.js"></script>
  <script src="/js/lightgallery-all.min.js"></script>
  <script src="/js/jquery.mousewheel.min.js"></script>

  <script src="/js/main.js"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>
    
  </body>
</html>